<ul xpsui-menu-items>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.person.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/person'|xpsuiuriescape}}"><span>{{'menu.new.person.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/person'|xpsuiuriescape}}"><span>{{'menu.search.person.lower.level' | translate}}</span></a></li>
		</ul>
	</li>

	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.memberFees.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/fees#'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/fees#'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
			<li><a href="#/registry/new/{{'uri://registries/payments'|xpsuiuriescape}}"><span>{{'menu.payments.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/payments'|xpsuiuriescape}}"><span>{{'menu.payments.lower.level' | translate}}</span></a></li>

			<li><a href="#/registry/new/{{'uri://registries/imports'|xpsuiuriescape}}"><span>{{'menu.imports.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/imports'|xpsuiuriescape}}"><span>{{'menu.imports.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.event.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/events'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/events'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.massmailing.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/mailtemplates#master'|xpsuiuriescape}}"><span>{{'menu.massmailing.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/mailtemplates#master'|xpsuiuriescape}}"><span>{{'menu.massmailing.search.lower.level' | translate}}</span></a></li>
			<li><a href="#/massmailing"><span>{{'menu.massmailing.send.title' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.my.profile.title' | translate}}</span></a>
		<ul>
			<li><a href="#/personal-page"><span>{{'menu.profile.lower.level' | translate}}</span></a></li>
			<li><a href="#/personal-change-password"><span>{{'menu.change.password.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.permissions.title' | translate}}</span></a>
		<ul>
			<li><a href="#/security/user/edit"><span>{{'menu.user.permissions.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.statistics.title' | translate}}</span></a>
		<ul>
			<li><a href="#/statistics"><span>{{'menu.statistics.show.title' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>Web Portál</span></a>
		<ul>
			<li><a href="#/portal/edit"><span>Editovať</span></a></li>
			<li><a href="#/portal/menu"><span>Menu</span></a></li>
		</ul>
	</li>
</ul>